<%- include('partials/header') %>

<!-- <h1><%= message %></h1>
<% if(message === 'Unauthorized!') { %>
    <p>It seems you are not authorized to access this page. Please login with the correct credentials.</p>
    <a href="/login">Login</a>
<% } %> -->

<main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
      <p class="text-base font-semibold text-blue-600">Shayari Official™</p>
      <p class="mt-6 text-base leading-7 text-gray-600"><%= message %></p>
      <% if (message === 'Unauthorized!') { %>
        <p class="mt-6 text-base leading-7 text-gray-600">It seems you are not authorized to access this page. Please login with the correct credentials.</p>
        <a href="/login" class="mt-6 inline-block text-base font-semibold text-blue-600 hover:underline focus:outline-none transition duration-300">Login</a>
      <% } else { %>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="/dashboard" class="rounded-md bg-blue-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus:outline-none transition duration-300">Go back home</a>
      </div>
      <% } %>
    </div>
  </main>

<%- include('partials/footer') %>